<!-- #creating a form to add patients -->
{% extends 'base/container_page.html' %}
{% block content %}

        <h3>Add new patient</h3>

        <style>
        .view-box {
          position: relative;
          text-align: center;
          }
        </style>

        <div class="view-box">
          <form action="{% url 'patients:add_patient'%}" method="post" name="frmCustomer">
            {%csrf_token %}
            <div class="fields">
              <label for="name">Name: </label>
              <input id="name" type="text" name="name" values="">
              <br>
              
              <label for="mobile">Mobile: </label>
              <input id="mobile" type="text" name="mobile" values="">
              <br>
              
              <label for="id_number">ID Number: </label>
              <input id="id_number" type="text" name="id_number" values="">
              <br>
              
              <label for="address">Address: </label>
              <input id="address" type="text" name="address" values="">
              <br>
              
              <label for="age">Age: </label>
              <input id="age" type="number" name="age" values="">
              <br>
            
              <label for="pin">Gender: </label>
              <select id="gender" name="gender">
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                
              </select>
              <br>
              <input type ="submit" value="save">
            </div>
          </form>  
        
        </div>
       
        
  

    {% endblock %} 

    